<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:allowBackup="true"
        android:label="GameBoost AI"
        android:icon="@drawable/gameboost_logo"
        android:roundIcon="@drawable/gameboost_logo"
        android:supportsRtl="true"
        android:appCategory="game"
        android:isGame="true"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar"
        tools:targetApi="36">
        <meta-data
            android:name="android.game_mode_config"
            android:resource="@xml/game_mode_config" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="GameBoost AI"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
